<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diagnosis</title>
  <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../custom_css/style.css" rel="stylesheet">
<meta http-equiv="Content-Security-Policy" 
      content="default-src 'self'; 
               script-src 'self'; 
               style-src 'self' 'unsafe-inline'; 
               img-src 'self' data:; 
               connect-src 'self' http://localhost:3200;">

</head>
<body>
  <div class="container py-5">
    <h6 class="d-flex justify-content-center text-primary text-success" style="font-style: italic;">Patient successfully diagnosed!</h6>
    
        <h1 class="heading1 d-flex justify-content-center primary"><span class="heading2">Patient's</span>Diagnosis</h1>
     <div class="d-flex justify-content-center">
      <table class="table table-hover text-center">
        <thead>
          <tr class="table-primary">
            <th>Symptoms</th>
            <th>Response</th>
                     
          </tr>
        </thead>
        <tbody class="table-body">


          
          
        </tbody>
      
      </table>


   <div id="nav-placeholder"></div>
   <script src="../../main/renderer.js"></script>
  <script src="../views_js/createDiagnosisView.js"></script>

  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>